body {


    background-image: url('./image.png');

    background-repeat: no-repeat;

    /* background-position: top left;
    background-position: bottom left; */
    /* background-position: center; */
    /* background-position: bottom center; */
    /* background-position: top right; */
    /* background-position: bottom right; */

    /* background-position-x: 200px; */
    /* background-position-x: -200px; */
    /* background-position-y: -200px; */
    background-position-y: 200px;
}